
    @import url(//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.css);

    #map {
        height: 500px;
    }

    svg {
        position: relative;
    }

    p {
    	text-align: justify;
    }