/* Sticky footer styles 
-------------------------------------------------- */

#content {
  font-size: 17px;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 22px;
  background-color: rgba(255,255,255,.65)
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th{background-color: rgba(245, 245, 245, .35);}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */


#wrap > .container {
  padding: 0px 15px 0;
}
.container .credit {
  margin: 20px 0;
  font-size: 10px;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

