body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #fefefe;
	width: 1420px; // 960 ( width of parcoord) + 410 (width des glisseurs) + 50 parce qu y a les marges et tout
	margin: 3;
}

p,ul,li,td {
	color:black;
}

h1 {
 font-size: 400%; 
 color: blue; 
 text-align: center;
 font-size: 30px;
 font-weight: 20;
 top: 20px;
 }

a:link {
	color: grey;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.sliders {
	display:inline-block;
	margin: 5px;
	border: 1px solid black;
	padding: 5px
}

#legend {
	height: 500px;
}
.legend {
  font-size: 12px;
}

#sliders_canvas {
	display: inline-block;
}

#btnHelp_parcoords{
	position:relative;
	float: right;
}

#pie-plot {
	top:350px;
	height: 350px;
	left: 650px;
	width: 350px;

}

.parcoords {
	background-color: yellow;
	display: inline-block;
	padding: 5px;
	margin: 5px;
	border: 3px solid darkgreen;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

#parcoords_sliders_block {
	border: 5px solid turquoise;
}