body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #fefefe;
	width: 1000px;
	margin: 3 3 3 3;
}

p,ul,li,td {
	color:black;
}

h1 {
 font-size: 400%; 
 color: blue; 
 text-align: center;
 font-size: 30px;
 font-weight: 20;
 top: 20px;
 }

a:link {
	color: grey;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


#sliders_canvas {
	float:right;
}

#btnHelp_parcoords{
	position:relative;
	float: right;
}
#mcviz {
	position: absolute;
	top: 50px;
	width: 100%;
}

#chart-holder {
	width: 1000px;
	height: 700px;
	position: relative;
}

#chart-holder svg {
	width: 100%;
	height: 100%;
}

#frontier-plot, #point-report, #map-box, #pie-plot {
	position: absolute;
}

#frontier-plot {
	top: 0px;
	height: 350px;
	left: 0px;
	width: 600px;
}

.fdot {
	fill: rebeccapurple;
	r: 5;
}
.fdot.active {
	fill: red;
	r: 6;
}

.axis { font: 10px sans-serif; }
.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

#point-report {
	top: 0px;
	height: 350px;
	left: 600px;
	width: 400px;
}

#map-box {
	top:350px;
	height: 350px;
	left: 0px;
	width: 650px;
}

#pie-plot {
	top:350px;
	height: 350px;
	left: 650px;
	width: 350px;

}
